<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bridge Performance</title>
    <link rel="icon" type="image/png" href="/static/tower.png">
  </head>
  <body>


    <div>
      <p>Sufficiency Rating</p>
      <form method="post">
        <input type="number" step="0.1" min={{ suff_lim['min'] }} max={{ suff_lim['max'] }} name="suf_rt">

        {% for feature in input_options.keys() %}
        <p>{{ feature }}</p>
        <select name="{{ feature }}">
          {% for option in input_options[feature].keys() %}
            <option value="{{ option }}" SELECTED>{{ option }}</option>
          {% endfor %}
        </select>
        {% endfor %}

        <p><input type="submit" value="Submit"></p>
      </form>
    </div>


  </body>
</html>
