<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bridge Performance</title>
    <link rel="icon" type="image/png" href="/static/tower.png">
  </head>
  <body>


    <div>
      <p>Sufficiency Rating</p>
      <form>
        <input type="number" step="0.1" min={{ suff_lim['min'] }} max={{ suff_lim['max'] }}>
      </form>
    </div>
    <div>
      {% for feature in input_options.keys() %}
      <p>{{ feature }}</p>
      <select>
        {% for option in input_options[feature].keys() %}
          <option value="{{ option }}" SELECTED>{{ option }}</option>
        {% endfor %}
      </select>
      {% endfor %}
    </div>


  </body>
</html>
